In [1]:
import pickle
import numpy as np
import flask
from flask import render_template, request, Flask

In [11]:
open('cart_completer_app/')

IsADirectoryError: [Errno 21] Is a directory: 'cart_completer_app/'

In [3]:
with open('./cart_completer_app/data/sample_user_orders.pkl','rb') as file:
    sample_user_orders = pickle.load(file)

sample_user_orders[sample_user_orders.user_id == 1]

      user_id  product_id                      product_name  add_to_cart_order
1216        1       27845                Organic Whole Milk                  9
1217        1       49235               Organic Half & Half                 10
1218        1       38928          0% Greek Strained Yogurt                  3
1219        1         196                              Soda                  1
1220        1       25133             Organic String Cheese                  2
1221        1       26405  XL Pick-A-Size Paper Towel Rolls                  4
1222        1       39657            Milk Chocolate Almonds                  5
1223        1       10258                        Pistachios                  6
1224        1       13032             Cinnamon Toast Crunch                  7
1225        1       26088        Aged White Cheddar Popcorn                  8
1226        1       46149                 Zero Calorie Cola                 11

In [ ]:
def user_cart_row(user_id, user_carts):

In [3]:
import cart_api

ModuleNotFoundError: No module named 'cart_api'

In [2]:
with open('cart_completer_app/data/merged_user_orders.pkl', 'rb') as file:
    merged_orders = pickle.load(file)
    
merged_orders

,user_id,product_id,prev_order_ct,pred_prob,order_id,add_to_cart_order,product_name,order_id_ref,reordered
133,1,196,10,0.806477,1187899,1.0,Soda,1187899.0,1
166,1,25133,8,0.808434,1187899,2.0,Organic String Cheese,1187899.0,1
238,1,38928,1,0.440575,1187899,3.0,0% Greek Strained Yogurt,1187899.0,1
275,1,26405,2,0.676346,1187899,4.0,XL Pick-A-Size Paper Towel Rolls,1187899.0,1
162,1,39657,1,0.416119,1187899,5.0,Milk Chocolate Almonds,1187899.0,1
...,...,...,...,...,...,...,...,...,...
4882,499,44632,1,0.368174,188500,NaN,Sparkling Water Grapefruit,188500.0,0
19101,499,45936,1,0.374864,188500,NaN,Organic White Onion,188500.0,0
445,499,47209,2,0.659197,188500,NaN,Organic Hass Avocado,188500.0,0
20261,499,48130,1,0.384705,188500,NaN,Organic Red Grapefruit,188500.0,0
11103,499,48493,1,0.363850,188500,NaN,Butter 2.0 Featuring Virgin Coconut Oil,188500.0,0

In [3]:
merged_orders[merged_orders.user_id == 173]

,user_id,product_id,prev_order_ct,pred_prob,order_id,add_to_cart_order,product_name,order_id_ref,reordered
1885,173,4920,4,0.559358,2060922,1.0,Seedless Red Grapes,2060922.0,1
10668,173,49191,8,0.624957,2060922,5.0,Cran Raspberry Sparkling Water,2060922.0,1
7908,173,148,1,0.237365,2060922,NaN,Nectarines,2060922.0,0
7062,173,258,1,0.203043,2060922,NaN,Vegetable Pot Pie,2060922.0,0
6449,173,1158,3,0.454377,2060922,NaN,Mango Chunks,2060922.0,0
...,...,...,...,...,...,...,...,...,...
8027,173,48679,2,0.367084,2060922,NaN,Organic Garnet Sweet Potato (Yam),2060922.0,0
8355,173,48857,1,0.159750,2060922,NaN,Authentic French Brioche,2060922.0,0
14688,173,49023,2,0.339120,2060922,NaN,Breakfast Burrito,2060922.0,0
4488,173,49131,1,0.161938,2060922,NaN,Smoked Turkey Breast Slices,2060922.0,0
7663,173,49683,6,0.532981,2060922,NaN,Cucumber Kirby,2060922.0,0